#title{
    position: absolute;
    right: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 50px;
    color: rgb(20,20,20);
    background-color: rgb(220,220,220);;
    animation: titleshow 1s linear;
    overflow: hidden;
    box-shadow: -5px 5px 5px black;
}

@keyframes titleshow {
    0%{right: -400px;}
    50%{right: -400px;}
    100%{right: 0px;}
}

#about {
    margin-top: 50px;
    padding: 50px;
    text-align: left;
    border-radius: 50px;
}

@keyframes showinfo {
    0%{height: 0;width: 0;}
    50%{height: 0;width: 0;}
    100%{height: 150px;width: 700px;}
}

@keyframes opa {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


#about img{
    border-radius: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(220,220,220);
    max-width: 200px;
    height: 30%;
    width: 30%;
    float: left;
}

#info{
    height: 100%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgb(220,220,220);
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 5%;
    border-radius: 50px;
    animation: showinfo .5s linear;
}

@media screen and (max-width: 690px) {
    #about {
        padding: 50px 0px 0px 0px;
    }
}