html {
scroll-behavior: smooth;
}

body{
    background-color: rgb(15, 15, 15);
    font-family: sans-serif;
    color: rgb(220,220,220);
}

nav{
    position: fixed;
    color: rgb(220,220,220);
    top: 0;
    z-index: 10;
    background-color: rgb(15,15,15);
    width: 100%;
    height: 60px;
}

#logoContainer{
    margin: 15px 0px 10px -40px;
    position: absolute;
    height: 40px; 
    left: 50%;
    display: block;
    
}

#logoContainer a{
    text-decoration: none;
    color: rgb(192, 47, 47);
    font-weight: 600;
}

#logo{
    height: 30px;
    width: 35px;
}

/* @media screen and (max-width: 690px) {
    #logoContainer{
        position: absolute;
        left: 50%;
        margin-left: -20px !important;
        display: block;
    }
} */

#Home{
    margin: auto;
    padding-top: 50px;
    max-width: 700px;
    width: 60%;
    background-color: rgb(20, 20, 20);
}

#banner {
    background-image: url("https://w.wallhaven.cc/full/p2/wallhaven-p2gp33.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#avatar {
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

#pf {
    max-height: 200px;
    height: 65%;
    border-radius: 100%;
}

#content {
    margin: -100px auto;
    width: 90%;
}

#Introduction {
    padding-top: 80px;
}

#divider {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#info {
    text-indent: 50px;
    text-align: justify;
}

#nameLabel {
    letter-spacing: 1px;
}

#name {
    letter-spacing: 1px;
    color: rgb(255, 215, 95);
    font-size: 40px;
}

#info {
    font-size: 12px;
    letter-spacing: .7px;
}

#interest {
    font-size: 13px;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 10px;
    width: 280px;
    list-style-type: none;
}

#title {
    margin-top: 25px;
    margin-bottom: 25px;
}

#titleDivider {
    float: right;
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top: 15px;
    width: 83%;
    margin-right: 2%
}

#titleLabel {
    letter-spacing: 1px;
    font-size: 24px;
}

.iconContainer {
    margin-right: 5px;
    float: inline-start;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: rgb(30,30,30);
    border-radius: 15px;
    transition: width .5s ease;
}

.iconContainer:hover {
    width: 20%;
}

/* .iconContainer:hover img {
    float: right;
    transition-duration: .5s;
} */

#skillIcons {
    padding: 10px;
}

.iconContainer img {
    height: 50px;
    transition-duration: .5s;
}

.iconContainer span {
    float: right;
    padding: 17px 10px 5px 5px;
    width: max-content;
    border-radius: 15px;
    transition-duration: .5s;
}

footer{
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(15,15,15);
    padding: 5px 40px;
    color: rgb(220,220,220);
    font-size: 15px;
    text-align: right;
}

#shortcuts {
    position: fixed;
    top: 60px;
    right: 0;
    width: 20%;
    list-style-type: none;
}

#shortcuts li {
    margin-bottom: 20px;
}

#shortcuts a {
    text-decoration: none;
    color: rgb(200,200,200);
}

#shortcuts a.active {
    color: rgb(255, 215, 95);
}

@media screen and (max-width: 700px){
    #Home {
        width: 100%;
        margin-left: 0;
    }

    #banner {
        height: 200px;
    }

    #pf {
        height: 170px;
    }

    #shortcuts {
        display: none;
    }
}