#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(15,15,15);
    z-index: 11;
    opacity: 1;
    transition: .5s linear;
}

#loadingLogo {
    margin: auto;
    height: 80px;
    animation: loading 3s alternate-reverse infinite;
}

@keyframes loading {
    0% {
        transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }
    50% {
        transform: perspective(250px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(250px) rotateX(360deg) rotateY(180deg);
    }
    100% {
        transform: perspective(250px) rotateX(360deg) rotateY(360deg);
    }
}


html {
scroll-behavior: smooth;
}

body{
    position: fixed;
    background-color: rgb(15, 15, 15);
    font-family: sans-serif;
    color: rgb(220,220,220);
}

nav{
    position: fixed;
    color: rgb(220,220,220);
    top: 0;
    z-index: 10;
    background-color: rgb(15,15,15);
    width: 100%;
    height: 60px;
}

#logoContainer{
    margin: 15px 0px 10px -40px;
    position: absolute;
    height: 40px; 
    left: 50%;
    display: block;
    
}

#logoContainer a{
    text-decoration: none;
    color: rgb(192, 47, 47);
    font-weight: 600;
}

#logo{
    height: 30px;
    width: 35px;
}

/* @media screen and (max-width: 690px) {
    #logoContainer{
        position: absolute;
        left: 50%;
        margin-left: -20px !important;
        display: block;
    }
} */

#Home{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 200px;
    width: 700px;
    background-color: rgb(20, 20, 20);
}

#banner {
    background-image: url("https://w.wallhaven.cc/full/p2/wallhaven-p2gp33.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#avatar {
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

#pf {
    max-height: 200px;
    height: 65%;
    border-radius: 100%;
}

#content {
    margin: -100px auto;
    width: 90%;
}

#Introduction {
    padding-top: 85px;
}

#divider {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#info {
    text-indent: 50px;
    text-align: justify;
}

#nameLabel {
    letter-spacing: 1px;
}

#name {
    letter-spacing: 1px;
    color: rgb(255, 215, 95);
    font-size: 40px;
}

#info {
    font-size: 12px;
    letter-spacing: .7px;
}

#interest {
    font-size: 13px;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    list-style-type: none;
}

#title {
    margin-bottom: 35px;
}

#titleDivider {
    width: 100%;
    height:1.5px;
    border-width:0;
    color:rgb(220,220,220);
    background-color:rgb(220,220,220);
}
/* 
#Skills #titleDivider {
    width: 85%;
}

#Features #titleDivider {
    width: 68%;
} */

#titleLabel {
    float: left;
    position: relative;
    margin-top: -35px;
    background-color: rgb(20, 20, 20);
    padding-right: 5px;
    color: rgb(106, 211, 224);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
}

#Skills {
    margin-top: 70px;
    min-height: 240px;
}

#usedIcons {
    color: rgb(255, 215, 95);
}

#pastIconTray {
    position: relative;
    float: left;
    max-width: 370px;
    overflow: hidden;
    margin-bottom: 20px;
}

#currentIconTray {
    position: relative;
    float: right;
    width: 250px;
    background-color: rgb(30, 30, 30);
    height: 120px;
    padding: 10px 40px 0px 10px;
    border-radius: 15px;
}

#currentIconTray .iconContainer{
    background-color: rgb(25, 25, 25) !important;
}

.iconContainer {
    margin-left: 5px;
    margin-bottom: 5px;
    float: inline-start;
    height: 50px;
    width: 50px;
    font-size: 13px;
    overflow: hidden;
    background-color: rgb(30,30,30);
    border-radius: 15px;
    transition: width .5s ease;
}

.iconContainer:hover,  .skillIcons div.activeSkill{
    width: 140px;
}

/* .iconContainer:hover img {
    float: right;
    transition-duration: .5s;
} */

.skillIcons {
    margin-top: 5px;
    max-width: 450px;
    height: 50px;
}

.iconContainer img {
    height: 50px;
    transition-duration: .5s;
}

.iconContainer span {
    float: right;
    padding: 16px 12px 5px 0px;
    width: max-content;
    border-radius: 15px;
    transition-duration: .5s;
}

#Features {
    margin-top: 70px;
    min-height: 600px;
}

.projectRow {
    align-items: center;
    margin-bottom: 50px;
}

#folderContainer {
    height: max-content;
    min-height: 300px;
}

.projectContainer {
    margin: 20px 20px 20px 0px;
    cursor: pointer;
    width: 130px;
    float: inline-start;
}

.projectTitle {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(40,40,40);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.projectContainer:hover .projectPic {
    transform: translateY(-40px) translateX(10px);
}

.projectContainer:hover .folderClose {
    transform: translateX(20px) skewX(-15deg);
    background-color: rgba(255, 215, 95,0.9);
}

.projectPic {
    width: 120px;
    height: 90px;
    transition: .2s linear;
}

.folderContent {
    height: 100px;
    width: 130px;
    padding: 5px;
    background-color: rgb(40,40,40);
}

.folderClose {
    position: absolute;
    z-index: 2;
    float: left;
    height: 100px;
    width: 130px;
    transform: translateX(7px) skewX(-5deg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(150,150,150, 0.90);
    transition: .2s linear;
}

#Contact {
    margin-top: 50px;
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: rgb(15,15,15);
    padding: 5px;
    color: rgb(220,220,220);
    font-size: 15px;
    text-align: left;
    font-size: 12px;
}

#shortcuts {
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 0;
    padding: 10px;
    border-bottom-left-radius: 15px;
    width: max-content;
    background-color: rgba(15,15,15,.8);
    list-style-type: none;
}

#shortcuts li {
    margin-bottom: 20px;
}

#shortcuts a {
    text-decoration: none;
    color: rgb(200,200,200);
}

#shortcuts a.active {
    color: rgb(255, 215, 95);
}

@media screen and (max-width: 700px){
    #Home {
        width: 100%;
        margin-left: 0;
    }

    #banner {
        height: 200px;
    }

    #pf {
        height: 170px;
    }

    #pastIconTray {
        float: none;
    }

    #currentIconTray {
        float: none;
    }

    .projectContainer {
        margin-left: 0;
    }

    #shortcuts {
        display: none;
    }

    /* .skillIcons div.active, .skillIcons div:hover {
        width: max-content;
    } */

    footer {
        width: 100%;
    }
}