#title{
    position: absolute;
    left: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 50px;
    color: rgb(20,20,20);
    background-color: rgb(220,220,220);;
    animation: titleshow 1s linear;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
}
#skillContainer{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 70px 50px;
    border-radius: 50px;
    background-color: rgb(220,220,220);
    text-align: left;

}

li{
    list-style-type: square;
}

@keyframes titleshow {
    0%{left: -400px;}
    50%{left: -400px;}
    100%{left: 0px;}
}

@media screen and (max-width: 810px) {
    #skillContainer{
        margin-left: 0px;
        margin-right: 0px;
    }
}